src/main/resources/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="book">
        <xs:complexType>
            <xs:attribute name="Author" type="xs:string" use="required" />
            <xs:attribute name="Category" type="xs:string" use="required" />
            <xs:attribute name="ID" type="xs:integer" use="required" />
            <xs:attribute name="InStock" type="xs:integer" use="required" />
            <xs:attribute name="Name" type="xs:string" use="required" />
            <xs:attribute name="ReleaseYear" type="xs:integer" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>